@charset "UTF-8";
/*
 * Custom Stylesheet
 * 
 */


/*
 * Buttons & Links
 * 
 */

.btn-outline {
  color: #F20000;
  border-color: #F20000;
}
.btn-outline:hover {
  color: #fff;
  background-color: #F20000;
  border-color: #F20000;
}

.btn-fill {
  color: #fff;
  background-color: #F20000;
  border-color: #F20000;
}
.btn-fill:hover {
  color: #fff;
  background-color: #AB0000;
  border-color: #AB0000;
}

.link {
  color: #F20000;
}
.link:hover, .link:focus {
  color: #AB0000;
}

/*
 * Carousel
 * 
 */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


section .col-md-3 {
  
  margin-left: 20em;
  margin-bottom: 20em;
}


/*
 * Cards
 * 
 */

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }



/*
 * Blog posts
 */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}


.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

/*
 * News & Events
 */
.pricing-container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



/*
 * Login
 */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




/*
 * Gallery
 */

.gallery-title
{
    font-size: 36px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #F20000;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #AB0000;

}
.btn-default:active .filter-button:active
{
    background-color: #AB0000;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}






/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
